.numButtonStyle {
    color: #fff;
    font-size: 40px;
    width:  80px;
    height: 80px;
    border-radius:100%;
    border: black;
    background-color:gray;
    text-align: center;
    padding: 0%
    }

.stateButtonStyle {
    color: #fff;
    font-size: 40px;
    width:  80px;
    height: 80px;
    border-radius:100%;
    border: black;
    background-color: coral;
    text-align: center;
    padding: 0%
    }

.ResultStyle {
    color:black;
    font-size: 40px;
    position: absolute;
    top: 430px;
    left: 20px;
    /* width:  80px;
    height: 80px;
    border: black;
    background-color: coral; */
    }
    